html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  font-family: "Montserrat", sans-serif;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 90vh; */
  background: rgba(255, 255, 255, 0.5);
  padding: 2rem;
  box-sizing: border-box;
}

.dashboard {
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  flex-direction: row;
  align-items: stretch;
  /* justify-content: center; */
  height: 100%;
  width: 100%;
  background: rgba(220, 220, 220, 0.5);
  overflow-x: hidden;
}

.dashboard .sidebar {
  display: flex;
  position: fixed;

  flex-direction: column;
  /* align-items: center; */
  justify-content: space-evenly;
  height: 80vh;
  width: 20%;
  max-width: 250px;
  transform: translateX(-150%);
  min-width: 200px;
  background: rgba(0, 150, 150, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}

.dashboard .sidebar.active {
  transform: translateX(0%);
}

.sidebar .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20%;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 2rem;
}

.profile .profile-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 50%; */
  width: 100px;
  border-radius: 50%;
  border: 1px solid rgb(129, 129, 129);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.5);
}
.profile .profile-pic img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.profile .profile-name {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.profile .profile-name h3{
  text-align: centers;
}



.dashboard .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 80%; */
  width: 100%;
  border-radius: 20px;
}

.menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 90%;
  margin-bottom: 1rem;
  border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.menu ul li.active {
  background: rgba(0, 0, 0, 0.3);
  color: white !important;
}
.menu ul li:hover {
  background: rgba(0, 0, 0, 0.3);
}

.menu ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 500;
}

.menu ul li.active a {
  color: white !important;
}

.dashboard .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: auto auto;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.hide {
  display: none !important;
}

.show {
  display: flex !important;
}

.main .profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 90%; */
  width: 100%;
}

.profile-container .heading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 100%;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.main .profile-img {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 50%; */
  width: 200px;
  border-radius: 20px;
  margin-bottom: 2rem;
  border: 1px solid rgb(129, 129, 129);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.main .profile-img img {
  height: 100%;
  width: 100%;
  /* border-radius: 20px; */
}

.profile-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 80%; */
  /* width: 100%; */
  border-radius: 20px;
  padding: 1rem;
  /* border: 1px solid rgb(129, 129, 129); */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
  background: rgba(255, 255, 255, 0.5);
}

.profile-table > table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 20px;
}

.profile-table > table > thead > tr > th {
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(129, 129, 129);
}

.profile-table > table > tbody > tr > td {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(129, 129, 129);
}

.profile-table > table > tbody > tr > td:nth-child(1) {
  text-align: left;
  min-width: 200px;
}

.profile-table > table > tbody > tr > td:nth-child(2) {
  text-align: right;
  max-width: 500px;
}

@media screen and (max-width: 768px) {
  .profile-table > table > tbody > tr > td {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
  .profile-table > table > tbody > tr > td:nth-child(1) {
    text-align: left;
    min-width: 100px;
  }

  .profile-table > table > tbody > tr > td:nth-child(2) {
    text-align: right;
    max-width: 200px;
  }
}

.class-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 90%; */
  width: 100%;
}

.class-container .heading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 100%;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.class-container .meta {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.class-container > .meta > .month-year {
  margin-right: 1rem;
}

.class-container > .meta > .month-year > select {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
  border-radius: 6px;
  border: 1px solid rgb(129, 129, 129);
  outline: none;
}

.class-container > .meta > .month-year > select:focus {
  border: 1px solid rgb(0, 0, 0);
}

.class-container > .meta > .month-year > button {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
  border-radius: 6px;
  border: 1px solid rgb(129, 129, 129);
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.class-container > .calender-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;

  width: 100%;
  /* padding: 2rem 1rem; */
  box-sizing: border-box;
}

.class-container > .calender-container > .day {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  /* height: 250px; */
  width: 60%;
  margin-bottom: 1rem;
  color: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  /* padding: 1rem; */
  border: 1px solid rgb(129, 129, 129);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.class-container > .calender-container > .day > .date-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30%;
  border-right: 1px solid rgb(129, 129, 129);
  background-color: aliceblue;
  padding: 1rem;
  box-sizing: border-box;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  font-weight: 600;
}

.class-container > .calender-container > .day > .class-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 70%;
  padding: 1rem;
  box-sizing: border-box;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: rgb(255, 255, 255);
}

.class-container > .calender-container > .day > .class-data-container > table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 20px;
}

.class-container
  > .calender-container
  > .day
  > .class-data-container
  > table
  > thead
  > tr
  > th {
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(129, 129, 129);
}

.class-container
  > .calender-container
  > .day
  > .class-data-container
  > table
  > tbody
  > tr
  > td {
  padding: 1rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(129, 129, 129);
}

.class-container
  > .calender-container
  > .day
  > .class-data-container
  > table
  > tbody
  > tr
  > td:nth-child(1) {
  text-align: left;
  min-width: 200px;
}

.class-container
  > .calender-container
  > .day
  > .class-data-container
  > table
  > tbody
  > tr
  > td:nth-child(2) {
  text-align: right;
  max-width: 500px;
}

@media screen and (max-width: 768px) {
  .class-container > .calender-container > .day {
    width: auto !important;
  }

  .class-container
    > .calender-container
    > .day
    > .class-data-container
    > table
    > tbody
    > tr
    > td:nth-child(1) {
    min-width: auto;
  }

  .class-container
    > .calender-container
    > .day
    > .class-data-container
    > table
    > tbody
    > tr
    > td:nth-child(2) {
    max-width: auto;
  }
}

.main > .sidebar-icon {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 1rem;
  height: 100%;
  width: 100%;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.main > .sidebar-icon > img {
  cursor: pointer;
}

.sidebar > .sidebar-hide {
  padding: 1rem;
  text-align: right;
}

.sidebar > .sidebar-hide > img {
  cursor: pointer;
}
